<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body  class="container-fluid">

<div th:replace="fragments :: header"></div>

<div class="row pt-4">
    <div class="col">
        <form method="POST" th:action="@{/events/edit}">
            <div class="form-group">
                <label>Name
                    <input class="form-control" name="name" type="text" th:value="${event.name}">
                </label>
            </div>
            <div class="form-group">
                <label>Description
                    <input class="form-control" name="description" type="text" th:value="${event.description}">
                </label>
            </div>
            <input type="hidden" th:value="${event.id}" name="eventId">
            <button class="btn btn-success">Save</button>
        </form>
    </div>
</div>
</body>
</html>